<h1> Oh the places you've been! </h1>

<ul>
<% @places.each do |element| %>
<li> <%= element.get_place %> </li>
<% end %>
</ul>

<h2> Enter a place that you've been</h2>
<br>
<form action="place_form">
  <label for="new_place">Add a new place that you've been</label>
  <input type="text" name="new_place" id="new_place">
  <br><br>
  <button type="submit" class="btn btn-primary">Submit!</button>
</form>

<form action="clear">
  <button type="submit" class="btn btn-danger">Clear List</button>
</form>
